In [1]:
import pandas as pd
import numpy as np

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\180100\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\180100\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
df=pd.read_excel(r'C:\Users\180100\OneDrive - NTT DATA North America\SAP\Read files\SAP data Nov 24-30.xlsx')

In [3]:
df.columns

Index(['Employee Portal Id', 'Employee Id', 'Employee name', 'Work Date',
       'Att Type/Absence Type', 'Billable/Non-Billable', 'NB Type', 'Hours',
       'WBS Element', 'Timesheet Status', 'Timesheet Approver Portal Id',
       'Date Approved', 'Time Entry Text', 'EE subgroup', 'Cost Centre',
       'Cost center name', 'Employee Type', 'Period End Date',
       'Timesheet Approver Name', 'Timesheet Approver Emp Id', 'Premium no.',
       'Premium ID', 'Grade', 'Country', 'HLM ID'],
      dtype='object')

In [4]:
df['Att Type/Absence Type'].value_counts()

Att Type/Absence Type
REG                     39704
Thanks Giving Day        2111
Day After Thanks Giv     2111
Compensatory Off         2000
Casual Leave             1437
Alternate Holiday        1327
Privilege Leave          1013
ADDH                      876
Maternity Leave - pa      826
Sick Leave                805
Vacation                  572
Other Leaves              510
Bonifacio Day             308
Flex PTO                  215
NWRK                      136
BNCH                      109
Floating Holiday           99
Parental Leave             49
BNCP                       33
Unpaid Leave               32
MBRK                       29
TRNG                       21
Bereavement                18
Sick Leave (US Temp)       16
Mis-carriage Leave -       12
Paternity Leave             9
Maternity Leave             7
Feast of St Andrew          2
Name: count, dtype: int64

In [5]:
#df = df[df['Att Type/Absence Type'].isin(["Bereavement","Casual Leave","Maternity Leave","Other Leaves","Parental Leave","Paternity Leave","Personal unpaid <=5","Privilege Leave","REG","Sick Leave","Sick Leave BPO","Sick Leave Temp","TRNG","Vacation","Sick Leave (US Temp)","Sick","Maternity Leave - pa","Parental Leave - pai"])]

In [5]:
df = df[df['Att Type/Absence Type'].isin(["Bereavement","Casual Leave","Maternity Leave","Other Leaves","Parental Leave","Paternity Leave","Personal unpaid <=5","Privilege Leave","REG","Sick Leave","Sick Leave BPO","Sick Leave Temp","TRNG","Vacation","Sick Leave (US Temp)","Sick","Maternity Leave - pa","Parental Leave - pai","Mis-carriage Leave -","Med FMLA unpaid-inte","Unpaid Leave","Half-day leave w/o p","ADDH","NWRK","Special Non Working"])]

In [6]:
df['Att Type/Absence Type'].value_counts()

Att Type/Absence Type
REG                     39704
Casual Leave             1437
Privilege Leave          1013
ADDH                      876
Maternity Leave - pa      826
Sick Leave                805
Vacation                  572
Other Leaves              510
NWRK                      136
Parental Leave             49
Unpaid Leave               32
TRNG                       21
Bereavement                18
Sick Leave (US Temp)       16
Mis-carriage Leave -       12
Paternity Leave             9
Maternity Leave             7
Name: count, dtype: int64

In [7]:
df.shape

(46043, 25)

In [8]:
df['Att Type/Absence Type'] = df['Att Type/Absence Type'].replace(["Bereavement","Casual Leave","Maternity Leave","Other Leaves","Parental Leave","Paternity Leave","Personal unpaid <=5","Privilege Leave","Sick Leave","Sick Leave BPO","Sick Leave Temp","TRNG","Vacation","Sick Leave (US Temp)","Sick","Maternity Leave - pa","Parental Leave - pai","Mis-carriage Leave -","Med FMLA unpaid-inte","Unpaid Leave","Half-day leave w/o p","ADDH","NWRK","Special Non Working"],["Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves","Other leaves"])

In [9]:
df['Att Type/Absence Type'].value_counts()

Att Type/Absence Type
REG             39704
Other leaves     6339
Name: count, dtype: int64

In [10]:
df.columns

Index(['Employee Portal Id', 'Employee Id', 'Employee name', 'Work Date',
       'Att Type/Absence Type', 'Billable/Non-Billable', 'NB Type', 'Hours',
       'WBS Element', 'Timesheet Status', 'Timesheet Approver Portal Id',
       'Date Approved', 'Time Entry Text', 'EE subgroup', 'Cost Centre',
       'Cost center name', 'Employee Type', 'Period End Date',
       'Timesheet Approver Name', 'Timesheet Approver Emp Id', 'Premium no.',
       'Premium ID', 'Grade', 'Country', 'HLM ID'],
      dtype='object')

In [11]:
df.shape

(46043, 25)

In [13]:
df.groupby(['Employee Portal Id','Employee name','Work Date','Grade','Country','HLM ID','Att Type/Absence Type'])['Hours'].sum().reset_index()

,Employee Portal Id,Employee name,Work Date,Grade,Country,HLM ID,Att Type/Absence Type,Hours
0,13643,Puneet Kumar,2024-11-25,12.0,India,28875.0,REG,9.0
1,13643,Puneet Kumar,2024-11-26,12.0,India,28875.0,REG,9.0
2,13643,Puneet Kumar,2024-11-27,12.0,India,28875.0,Other leaves,4.5
3,13643,Puneet Kumar,2024-11-27,12.0,India,28875.0,REG,9.0
4,13643,Puneet Kumar,2024-11-28,12.0,India,28875.0,REG,9.0
...,...,...,...,...,...,...,...,...
40145,338115,Tripti Khaneja,2024-11-27,5.0,India,78595.0,REG,9.0
40146,338115,Tripti Khaneja,2024-11-29,5.0,India,78595.0,REG,9.0
40147,338237,Muhammad Ismail,2024-11-25,3.0,United States,240112.0,REG,8.0
40148,338237,Muhammad Ismail,2024-11-26,3.0,United States,240112.0,REG,8.0
40149,338237,Muhammad Ismail,2024-11-27,3.0,United States,240112.0,REG,8.0

In [14]:
dff = pd.DataFrame({"Total Hours": df.groupby(['Employee Portal Id','Employee name','Work Date','Grade','Country','HLM ID','Att Type/Absence Type'])['Hours'].sum()}).reset_index()

In [15]:
dff.shape

(40150, 8)

In [16]:
dff.head()

,Employee Portal Id,Employee name,Work Date,Grade,Country,HLM ID,Att Type/Absence Type,Total Hours
0,13643,Puneet Kumar,2024-11-25,12.0,India,28875.0,REG,9.0
1,13643,Puneet Kumar,2024-11-26,12.0,India,28875.0,REG,9.0
2,13643,Puneet Kumar,2024-11-27,12.0,India,28875.0,Other leaves,4.5
3,13643,Puneet Kumar,2024-11-27,12.0,India,28875.0,REG,9.0
4,13643,Puneet Kumar,2024-11-28,12.0,India,28875.0,REG,9.0

In [17]:
#df1= df[(df['Hours'].isin([8,9]))]
#df1

In [17]:
dff['Total Hours'].value_counts()

Total Hours
9.00     31268
8.00      5784
2.00       778
0.00       432
4.50       331
         ...
3.65         1
4.35         1
5.22         1
11.07        1
9.10         1
Name: count, Length: 202, dtype: int64

In [18]:
dff.columns

Index(['Employee Portal Id', 'Employee name', 'Work Date', 'Grade', 'Country',
       'HLM ID', 'Att Type/Absence Type', 'Total Hours'],
      dtype='object')

In [20]:
final = dff.pivot_table(index=['Employee Portal Id','Employee name','Work Date','Grade','Country','HLM ID'],
                     columns=['Att Type/Absence Type'],
                     values='Total Hours')\
        .fillna(0).reset_index()

In [21]:
final.columns

Index(['Employee Portal Id', 'Employee name', 'Work Date', 'Grade', 'Country',
       'HLM ID', 'Other leaves', 'REG'],
      dtype='object', name='Att Type/Absence Type')

In [22]:
final.shape

(38940, 8)

In [23]:
final.shape

(38940, 8)

In [24]:
final['Total Hours']= final['Other leaves']+final['REG']

In [25]:
final[final['Employee Portal Id'] == 312553]

Empty DataFrame
Columns: [Employee Portal Id, Employee name, Work Date, Grade, Country, HLM ID, Other leaves, REG, Total Hours]
Index: []

In [26]:
#final[final['Employee Portal Id'] == 257402]

In [27]:
final['Reversal'] = np.where(
    final['Country'] == 'India',final['Total Hours'] - 9 , final['Total Hours'] - 8)

In [28]:
final

Att Type/Absence Type,Employee Portal Id,Employee name,Work Date,Grade,Country,HLM ID,Other leaves,REG,Total Hours,Reversal
0,13643,Puneet Kumar,2024-11-25,12.0,India,28875.0,0.0,9.0,9.0,0.0
1,13643,Puneet Kumar,2024-11-26,12.0,India,28875.0,0.0,9.0,9.0,0.0
2,13643,Puneet Kumar,2024-11-27,12.0,India,28875.0,4.5,9.0,13.5,4.5
3,13643,Puneet Kumar,2024-11-28,12.0,India,28875.0,0.0,9.0,9.0,0.0
4,13643,Puneet Kumar,2024-11-29,12.0,India,28875.0,0.0,9.0,9.0,0.0
...,...,...,...,...,...,...,...,...,...,...
38935,338115,Tripti Khaneja,2024-11-27,5.0,India,78595.0,0.0,9.0,9.0,0.0
38936,338115,Tripti Khaneja,2024-11-29,5.0,India,78595.0,0.0,9.0,9.0,0.0
38937,338237,Muhammad Ismail,2024-11-25,3.0,United States,240112.0,0.0,8.0,8.0,0.0
38938,338237,Muhammad Ismail,2024-11-26,3.0,United States,240112.0,0.0,8.0,8.0,0.0
38939,338237,Muhammad Ismail,2024-11-27,3.0,United States,240112.0,0.0,8.0,8.0,0.0

In [29]:
final[final['Employee Portal Id'] == 267593 ]

Empty DataFrame
Columns: [Employee Portal Id, Employee name, Work Date, Grade, Country, HLM ID, Other leaves, REG, Total Hours, Reversal]
Index: []

In [30]:
final.columns

Index(['Employee Portal Id', 'Employee name', 'Work Date', 'Grade', 'Country',
       'HLM ID', 'Other leaves', 'REG', 'Total Hours', 'Reversal'],
      dtype='object', name='Att Type/Absence Type')

In [31]:
final['Total Hours'].value_counts()

Total Hours
9.00     30552
8.00      5927
11.00      746
0.00       419
10.00      357
         ...
8.58         1
5.22         1
11.07        1
6.30         1
9.10         1
Name: count, Length: 169, dtype: int64

In [32]:
final

Att Type/Absence Type,Employee Portal Id,Employee name,Work Date,Grade,Country,HLM ID,Other leaves,REG,Total Hours,Reversal
0,13643,Puneet Kumar,2024-11-25,12.0,India,28875.0,0.0,9.0,9.0,0.0
1,13643,Puneet Kumar,2024-11-26,12.0,India,28875.0,0.0,9.0,9.0,0.0
2,13643,Puneet Kumar,2024-11-27,12.0,India,28875.0,4.5,9.0,13.5,4.5
3,13643,Puneet Kumar,2024-11-28,12.0,India,28875.0,0.0,9.0,9.0,0.0
4,13643,Puneet Kumar,2024-11-29,12.0,India,28875.0,0.0,9.0,9.0,0.0
...,...,...,...,...,...,...,...,...,...,...
38935,338115,Tripti Khaneja,2024-11-27,5.0,India,78595.0,0.0,9.0,9.0,0.0
38936,338115,Tripti Khaneja,2024-11-29,5.0,India,78595.0,0.0,9.0,9.0,0.0
38937,338237,Muhammad Ismail,2024-11-25,3.0,United States,240112.0,0.0,8.0,8.0,0.0
38938,338237,Muhammad Ismail,2024-11-26,3.0,United States,240112.0,0.0,8.0,8.0,0.0
38939,338237,Muhammad Ismail,2024-11-27,3.0,United States,240112.0,0.0,8.0,8.0,0.0

In [33]:
May_OT=final.to_excel(r'C:\Users\180100\OneDrive - NTT DATA North America\SAP\Output\call\DEC03 dup.xlsx', index=False)
May_OT